body {
    background-color: #101010;
     }
h1 {
color: #ffffff;
font-family: Tahoma,arial;
text-align: center;
    }
p {
    color: #ffffff;
    font-family: Tahoma,arial;
    text-align:center;
    }
div {
    width:95%;
    box-sizing: border-box;
    border-radius: 8px;
    }
#mexiserver {
            height: 500px;
            margin: auto;
            }
.clima {
       width:95%;
       background: #ffffff;
       padding: 20px 30px 0 30px;
       margin: auto;
       margin-top: 20px;
       }
.contador {
        text-align: center;
        margin: auto;
        padding-top: 20px;
        }
